@import "~bootstrap-icons/font/bootstrap-icons.css";
.card{
  margin-top: 3em;
  margin-left: 12em;
  width: 40%;
  height: 50%;
  font-style: italic;
  font-size: large;
}
.form-control{
  font-style: italic;
}
h6{
  font-size: large;
}
button{
  margin-left: 2% !important;
}
